ul {
  list-style-type: none;
  display:block;
  border: 1px solid #000;
}
ul li {
  position: relative;
  width:160px;
  border: 1px solid #000;
} 
.p-img {
  width:160px;
  height:160px;
  position:relative;
  overflow:hidden;
  padding:0;
  
  border:1px solid #000;
}
.p-img img{
  position:absolute;
  left:0;
  top:0;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
}
.p-price {
  position: absolute;
  right:0;
  bottom:0;
  width:70px;
  height:24px;
  line-height:_24px;
  overflow: hidden;
  background: #e33a3d;
  text-align:center;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -ms-transition: all .4s;
  transition: all .4s;
  
  border:1px solid #000;
}
.p-price strong {
  color: #fff;  
  font-size:14px;
  font-weight:400;
}
.p-ext {
  position:absolute;
  width:160px;
  height:58px;
  bottom:0;
  background:#2c3f52;
  color:#fff;
  z-index:5;
  text-align:center;
  opacity:0.5;
  visibility:hidden;
  -webkit-transform:perspective(300px) rotateX(-90deg);
  -webkit-transform-origin:50% 100%;
  -webkit-transition:all .35s;
  -moz-transform:perspective(300px) rotateX(-90deg);
  -moz-transform-origin:50% 100%;
  -moz-transition:all .35s;
  transform:perspective(300px) rotateX(-90deg);
  transform-origin:50% 100%;
  transition:all .35s;
  
  border:1px solid #000;
}

li.hover .p-img img {
  top:-25%;
}

li.hover .p-price {
  bottom:58px;
}

li.hover .p-ext {
  visibility:visible;
  opacity:1;
  text-align:center;
  -webkit-transform:perspective(300px) rotateX(0deg);
  -moz-transform:perspective(300px) rotateX(0deg);
  transform:perspective(300px) rotateX(0deg);
}

li .p-ext a {
  text-decoration:none;
  color:#fff;
}

li .p-btn {
  background-color:#fff;
  border:1px solid #000;
}
li .p-btn a {
  color:#000;
}